[2015-01-04 22:20] ericelliott opened #1 "JS Static Analysis Considerations for Tomorrow"
Cloverfield aims to create a next generation JavaScript project boilerplate. That means we'll use the tools that coders in-the-know will be using over the next 1 - 3 years. We're starting with the 2016 edition.

Which static analysis tools will we be using in 2016? What will the requirements even look like?

Are you a Facebook Flow expert?
Are you on the TypeScript team?
Do you live and breathe Go

[2015-01-05 00:37] ericelliott opened #2 "Task Running"
# Choosing a Task Runner for the Cloverfield Boilerplate Scaffold

Cloverfield aims to create a next generation JavaScript project boilerplate. That means we'll use the tools that coders in-the-know will be using over the next 1 - 3 years. We're starting with the 2016 edition. [Read more](https://github.com/ericelliott/cloverfield/blob/master/README.md).

The JS community has been splintering when

[2015-01-05 01:21] blesh commented on #2
Having episode with Grunt, Gulp and Broccoli, my current go to is Broccoli. Mostly because I'm always setting up front-end build processes, testing and dev workflows and Broccoli was engineered specifically for that problem space. It's faster to deal with during dev builds than grunt, and there's generally less noodling with the Brocfile than I'd have to do with the others.

The downside is it's n

[2015-01-05 01:23] blesh commented on #2
If I were doing something more general purpose, I suspect I'd use Gulp ATM.

[2015-01-05 03:21] clohr commented on #2
+1 for npm's task runner.

I have found that Grunt files become unwieldy on large projects and is slower than Gulp. Having used Gulp on recent projects, I found that there are some [cool ways to better organize your tasks](https://github.com/greypants/gulp-starter), but a number of plugins tend to violate the Gulp guidelines and you need to research the good modules to create optimal Gulp recipes.

[2015-01-05 11:53] jesstelford commented on #2
**Makefiles**

[I've said it before](https://github.com/mszep/pandoc_resume/pull/7#issuecomment-68587903); Using a "flavor of the month" tool for a project that is meant to last a long time is a bad idea.

Everything you can do in grunt/gulp/taskjs you can do in Makefiles, with the added benefit of decades of backing, knowledge, tutorials, and examples already out there. Given it's cross-project a

[2015-01-05 18:20] blesh commented on #2
@jesstelford

You assume wrong. The majority of developers, particularly web developers, either don't have a build process or have their build processes handed to them by IDEs like Visual Studio. More importantly, they have absolutely no reason to know what a make file is, let alone how to write one. That doesn't make them bad developers.

I see nothing wrong with Make, and I applaud the spirit of

[2015-01-05 22:47] jesstelford commented on #2
@blesh Thanks for calling me on that statement. I have a bias toward Make since I come from a C/C++ background.

Even more reason for using Makefiles; VS has a [Makefile Project Wizard](http://msdn.microsoft.com/en-us/library/txcwa2xx.aspx) built in, whereas the others require a plugin to be runable from within the IDE.

Although, but implying the majority of web developers use VS disregards the l

[2015-01-05 23:02] ericelliott commented on #2
Make has been around for decades and is still in constant use. There is a TON of tooling for make. Most IDEs either know how to assist you with make files, or have plugins that do. It's true that few JavaScript projects use it, but some do, and it may be worthwhile to encourage Make to spread in the JavaScript ecosystem.

Contrast with Grunt, Gulp and Brocolli, the only one with a large ecosystem

[2015-01-05 23:12] getify commented on #2
Just gonna leave this here: https://gist.github.com/substack/8313379

[2015-01-05 23:19] cswenor commented on #2
My vote is for Gulp.  It is something new to learn, but it is very intuitive.  A Gulp File is very easy to read an understand what is going on.  I have to agree with @clohr that you have to do research to find the good plugins/scripts because the community is still small.

I do like the sound of make though.  I personally never considered using it with JS.  I'm going to have to look at a few examp

[2015-01-05 23:20] jesstelford commented on #2
@ericelliott

Arguably, so is Grunt, Gulp, etc - their syntax can be (almost) as opaque as make at times. I whole heartedly agree with `it may be worthwhile to encourage Make to spread in the JavaScript ecosystem.`

Now you're talking about implementing [autoconf](http://www.gnu.org/software/autoconf/) / [cmake](http://www.cmake.org/overview/). I'm not so sure that's a good route to go down (it's

[2015-01-05 23:28] cswenor commented on #2
One thought I have about using make is that it is a new language.

If I imagine myself giving a Junior Developer that has started learning with JavaScript and they see this and see it is a completely different syntax they might be spooked a bit.

Just a thought.

[2015-01-05 23:33] getify commented on #2
I think we may be missing an important point... build processes are not necessarily appropriate for beginning developers to be *task*ed (pun intended) with writing. Build processes are more a "devops" thing than a "junior javascript developer just joing the team" kind of thing.

That's not to be elitist and say that non-devops devs shouldn't be able to understand and even help manage these things.

[2015-01-05 23:46] jesstelford commented on #2
@getify

The caveat to that is; We may encounter non-junior / intermediate / senior devs who have never used Make before, but want to use the cloverfield project (in a way which requires altering the build system). In that case, I'd argue that forcing them to use/learn Make is a good thing, but it's almost guaranteed to turn some people off. The same way that using Grunt over Gulp might turn some

[2015-01-06 00:15] getify commented on #2
I'd say "ability to use/execute the build system" and "ability to configure/customize/write the build system components" are two separate and almost orthagonal concerns.

From my limited perspective, it seems the former is more what's at concern here with sentiments like "almost guaranteed to turn some people off". So I think the more important question there is what is the interface to the system

[2015-01-06 00:25] jesstelford commented on #2
Well thought out and articulate points!

As I said earlier, I have a C/C++ background which gives me a favourable bias towards `make`, to an extent that I still haven't bothered learning Grunt / Gulp / etc, as I am yet to see a benefit *for me*. For others, I can see how keeping it JS would be beneficial.

[2015-01-06 00:26] cswenor commented on #2
I agree that JavaScript feels like a more natural fit.  So whatever is selected should be JS.

[2015-01-06 00:58] ericelliott commented on #2
:+1:

Yep. Let's clarify what our typical build system is trying to achieve:

* Simple `dev` command that watches files for changes, then rebuilds *only what needs to be rebuilt*
* Example that transpiles from ES6 or CoffeScript, configurable to do so with or without sourcemaps
* Build CSS system with sprite generator
* Lint on build and display results in that dev command console output
* Run smo

[2015-01-06 01:01] ericelliott commented on #2
Nope, I'm talking about running a single command to, for instance, add a CSS sprite compiler to the build, rather than choosing the tech, downloading the libs, and adding to the makefile manually.

[2015-01-06 01:03] ericelliott commented on #2
Absolutely agreed. :+1:

[2015-01-06 01:04] heltonvalentini commented on #2
I think we should keep it simple. Use `npm` as the standar for minimal projects and generate a bash script with `#!/usr/bin/env node` so we can write JS bash as shown here https://gist.github.com/substack/8313379

[2015-01-06 01:06] ericelliott commented on #2
One thing I love about `npm` is that anything can be an npm task, and as long as it reads from stdin and writes to stdout, it's easy to pipe tasks together without slowing things down. For me, that stdin->stdout composability of tasks is a worthy consideration. That pretty much rules out grunt. Gulp kindof does that with the streaming API if people write their streaming code properly...

[2015-01-06 01:09] ericelliott commented on #2
This is totally doable. I LOLed at Substack's task.js. I think what's less important than the tools is that we support a high-quality workflow for developers.

* There should be a dev mode that watches files and rebuilds when needed
* In dev mode, syntax problems and any critical unit test breakages should alert the developer with clear errors
* It should be trivial to kick off a full build and ru

[2015-01-06 01:11] ericelliott commented on #2
Note, this is pretty basic stuff that just about every task runner should have lots of clear examples for. I'm totally cool with npm, and I don't think we'd get much backlash if we make that the standard, as long as the npm examples exit with an error status for continuous integration...

[2015-01-06 01:21] ericelliott opened #3 "Generator requirements"
Every opinionated framework has its own ideas about where to put stuff. e.g. Meteor has `client`, `server` and `lib` directories.

We need the ability to quickly and easily configure where to put compiled JavaScript bundles, CSS, HTML templates, etc... See the array of folders in [Substack's ironic taskrunner](https://gist.github.com/substack/8313379). Yeah... kinda like that, except that every ge

[2015-01-06 01:25] blesh commented on #2
There's a larger problem at play here in my mind:

There are two camps:

1. Ivory Tower JS Developers - These are people that are completely out of touch with the mass majority of JS hackery going on in the world (see 2). They always use task runners, they set up builds, they use Travis CI, and they consider it all "easy" and "second nature". They live and work in bubble environments with others w

[2015-01-06 01:26] heltonvalentini commented on #2
* In dev mode, syntax problems and any critical unit test breakages should alert the developer with clear errors
* It should be trivial to kick off a full build and run the full test suite
* What else?

I think that all these tasks are better explained here: http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/

[2015-01-06 01:26] blesh commented on #2
In closing, I'd like to offer exactly zero solutions to the problems I've presented.

（╯°□°）╯︵ 🎤

[2015-01-06 01:40] jesstelford commented on #2
@ericelliott

Great idea - I'll see what I can do to put together a make example (although I do have to say; make's power really comes into play when there are a *lot* of files that need *expensive* compilation steps due to its intelligence in avoiding recompilation of untouched files).

@heltonvalentini

That's an excellent post, thanks for linking it - it even opened my eyes to some things I did

[2015-01-06 01:47] ericelliott commented on #2
Yep. I'm aware of that. What Cloverfield will be is something that takes most of the work and hard choices out of that. Things like which test suite should we use? Well, that kinda depends on your framework choice, right? For instance, I think if you're using Meteor, you really only have one choice that integrates well with meteor, but shouldn't `$ cf test` install and scaffold the right test tool

[2015-01-06 01:49] jesstelford commented on #2
@blesh

The thing is, they *are* hard. And we make them hard as a conscious choice. Technically, the only think you need to run a javascript project is `node index.js`.

It's us as the developers who are looking for more advanced options / features that don't exist by default who decide to add an extra tool or two or twenty. It's about the trade offs we make there - more complexity at build time f

[2015-01-06 01:52] jesstelford commented on #2
@ericelliott

In that case, I put forward Makefiles once again. It has withstood the test of time, and is usable with every "modern" framework of the minute, and will continue to be usable with whatever new frameworks come out in the future. npm, Grunt, Gulp, etc, are still all young, may change, and may go the way of angular directives. Make will not.

[2015-01-06 01:55] ericelliott commented on #2
`npm` is young compared to make, but it's been around almost since the beginning of Node, and it's the gateway to the single largest module repository in the world with the most active developer ecosystem in the world. I think it's a fair bet that `npm` and `npm run` will still be around and popular 3 years from now.

Of course, those `npm` scripts could just be calling make commands, and I'm happ

[2015-01-06 02:21] ericelliott commented on #2
## My version of old vs young:

[2015-01-06 03:22] robertdmunn commented on #2
I use Grunt because of its relative maturity, large plugin ecosystem, and broad scope as a task runner. Broccoli looks interesting. The partial re-build feature is something good that there is no easy way to replicate in Grunt.

I agree that the npm task runner is good as a starting point, but I don't know how easily I could duplicate my Grunt config for a complex project using npm run, and I don'

[2015-01-06 07:19] blesh commented on #2
@jesstelford

They can be written in JavaScript and require no knew syntax knowledge, and should be pretty seemless for any developer with Node experience to acclimated themselves to. Make, will *never* be able to claim those things. It may as well be Rake in comparison. Great tool, wrong language.

@ericelliott

<facepalm> I don't think you quite understand what I'm saying. **I'm not saying "Make

[2015-01-06 08:55] ericelliott commented on #2
It might if we provide great tools to generate the make config.

Yep. We're on the same page here.

What are your favorite things about it that we should definitely do?

What should we definitely do differently?

I agree. We're not gonna do that. Even if we decide to use Make under the covers.

So, [Ben](https://github.com/blesh), what does your ideal build system look like? Do we get to see your

[2015-01-06 10:37] ericelliott commented on #2
@jesstelford Thanks!

Where's the watch task? (aka interactive dev mode) =)

[2015-01-07 01:08] jesstelford commented on #2
@ericelliott

I have added a `watch-build` target to the Makefile example, as outlined in jesstelford/cloverfield-build-make#1:

[2015-01-07 11:58] ericelliott commented on #2
@jesstelford I'm not sure why, but I can't seem to get `make watch-build` to actually rebuild anything. Check the open issues. =)

[2015-01-08 03:26] Flet commented on #2
Hey @ericelliot I think the idea of comparing task runners in the same way todomvc compares frameworks is an awesome idea. It would be enlightening even beyond the scope of this project.

I think it is worthy of its own repo,  so if you don't start one I will. :)  It would be nice to have a basic set of files to "build" and a clear set of tasks to accomplish. With some clever requirements, it coul

[2015-01-08 04:03] jesstelford commented on #2
@Flet / @ericelliott

I have created a "base" project which can be forked, and have the build tool added easily. This is what I used to build my [`make` version](https://github.com/jesstelford/cloverfield-build-make), with all the `make`-specific stuff removed:

https://github.com/jesstelford/cloverfield-build-todomvc

[2015-01-08 04:15] ericelliott commented on #2
I've created [TodoTasks](https://github.com/ericelliott/todotasks) for this purpose.

[2015-01-08 04:17] ericelliott commented on #2
@jesstelford Can you open a [TodoTasks PR](https://github.com/ericelliott/todotasks) with your base project?

[2015-01-08 04:30] jesstelford commented on #2
:+1: Open: https://github.com/ericelliott/todotasks/pull/1

[2015-01-08 18:43] ericelliott commented on #2
Refer to the sample project, [todotasks](https://github.com/ericelliott/todotasks).

@jesstelford, could you help us clean up the repo and make it conform more to [this suggested spec](https://github.com/ericelliott/todotasks/issues/2)?

[2015-01-08 19:16] AWaselnuk commented on #2
Not a complete answer to your questions @ericelliott but as someone who has gone through the build tool learning process recently (within the last year):

Make - I found learning Rake easy and intuitive. I'm sure Make would be just as nice to work with.
Gulp - Seemed cool at first but cryptic errors from the Node ecosystem turned me off.
Grunt - Definitely easy to learn and work with but I could s

[2015-01-08 19:21] ericelliott commented on #2
Thanks Adam! Your perspective is very helpful. =)

[2015-01-08 19:49] ralphtheninja commented on #2
I like the idea of `./task.js`. Keeping it in javascript makes for portable tasks. I also like using code as configuration instead of mega large and confusing `.json` configuration blobs (grunt).

[2015-01-08 20:06] ericelliott commented on #2
The problem with ./task.js is that every developer will have their own way of doing things. In order to encourage an ecosystem of best practices to flourish, it's necessary to establish some baseline standards.

Keep in mind that while Substack is a brilliant developer, he spends a whole lot of time building little one off, self contained, isolated modules. The purpose of this project is to ease t

[2015-01-09 21:29] ericelliott opened #4 "Recommending an automated test framework and config"
With all the different options and permutations, setting up an automated testing framework can be one of the most daunting tasks for a team building a new application, or upgrading the process for legacy apps.

In some projects, I've seen a mix of BDD and TDD styles for unit tests, and a barely cohesive and brittle jumble of functional and integration tests. It would be great to achieve some conse

[2015-01-10 05:52] elrasguno commented on #2
While I'm quite late to the party, I just wanted to throw in a vote for NPM. I'm working on a games platform that's all Node -- and only back end services -- so that obviates Grunt, and we're managing the majority of the work that we'd otherwise use Gulp for with Jenkins instead. NPM's "[scripts](https://docs.npmjs.com/misc/scripts)" and "bin" facilities (via [package.json](https://docs.npmjs.com/

[2015-01-10 08:46] neophob commented on #4
mockery to mock out require calls (and disable the require cache), sinon to mock/spy/stub, chai expect and mocha.

[2015-01-11 06:49] ericelliott commented on #2
@elrasguno Rock on. I love the feedback. I'm really liking the `npm run` option, and `make` sounds like a great backup plan for developers who want to dig deeper. :+1:

[2015-01-11 23:10] ericelliott commented on #4
Hi @neophob,

Thanks for your feedback!

What are your favorite things about that setup?

What would you change if you could?

- Eric

[2015-01-12 06:02] ericelliott opened #5 "List of existing scaffolding tools"
For reference, here are some existing scaffolding tools:

* [yoeman](http://yeoman.io/)
* [brunch](http://brunch.io/)
* [meteor](http://docs.meteor.com/#/basic/)
* [grunt-init](http://gruntjs.com/project-scaffolding)
* [ampersand-cli](https://ampersandjs.com/docs#ampersand)
* [ember-cli](http://www.ember-cli.com/)
* [meteor-em](https://github.com/EventedMind/em)
* [slush](http://modernweb.com/2014

[2015-01-12 06:06] ericelliott commented on #4
I have been using tape for years and it has never let me down.

Here's what I like about it:

* Produces simple tap output that is compatible with a wide variety of tools
* Easy to set up and integrate with CI tools
* Dead simple assertions with no ambiguity or magic

Here's what I think is missing -- super obvious `before` / `after` / `beforeEach` / `afterEach`. Easily corrected:

[code]

[2015-01-12 23:45] ericelliott commented on #2
@jesstelford I just looked at your `test.js` and LOLed.

[2015-01-13 01:48] ericelliott commented on #2
I have some open PRs in the todotests repo if anybody would like to review them, in order, please! =)

1. [Cleaning up the base implementation example](https://github.com/ericelliott/todotasks/pull/3)
2. [Adding an npm example with build script](https://github.com/ericelliott/todotasks/pull/3)

Note that in the npm example, the source gets compiled with Browserify and minified with working sourcem

[2015-01-13 20:26] vivainio commented on #5
Brunch is one for the list as well. My favorite is probably 'git clone' though ;)

[2015-01-13 20:27] therealklanni commented on #5
Definitely a fan of Yeoman.

[2015-01-13 20:37] ericelliott commented on #5
Thanks @vivainio! Can you go into more detail about scaffolding with `git clone`? Is there a good list of boilerplates that you could use as scaffolds using only `git clone`?

@therealklanni What do you love about it? What would you change about it?

[2015-01-13 20:45] therealklanni commented on #5
I love that it handles pretty much any scaffold you could possibly want (no generator for what you need?—make one!).

I can't really think of anything in particular off the top of my head that I would change about it.

[2015-01-13 20:52] vivainio commented on #5
@ericelliott I'm thinking stuff like https://github.com/Keats/ng-boilerplate, don't know if there is a maintained list. I have tried yeoman, but in the end it's just a fancy way to do git clone (assuming your code diverges enough to stop sub-generators from working)

[2015-01-13 21:32] ericelliott commented on #5
@therealklanni I don't think I've ever found a yo generator that doesn't do a bunch of stuff that I felt the need to undo. Most of them are too broad, prescribing an entire application framework, and frequently a particular application layout for that particular framework. Are there a lot more granular generators that I'm not aware of? Here's an example of the problem. Lots of generators have desc

[2015-01-13 21:52] ericelliott commented on #3
List of must-have generators:

* Test frameworks - Scaffolding for unit tests that can be used in any module. This one should pay attention to the tech stack that has already been selected for the repo, and suggest appropriate test frameworks. For instance, your test framework choices can be limited if you're building a Meteor app. The default should be as simple as it gets: [tape](https://github.

[2015-01-14 14:15] vivainio commented on #5
Somehow, I think it would be useful to have a more stable "base" on which you would add stuff:

- Agree on Gulp
- Agree on browserify
- Agree on bower (front end npm is not ready yet)
- Have gulpfile that does "everything" you throw at it (es6, typescript, coffeescript, sass, less, css)

These are not all that hard to do, but it seems everyone ends up doing their own gulpfile and googling half-sol

[2015-01-14 19:13] ericelliott commented on #5
@vivainio Front end npm has been in a nice state for years, and there are 5x as many packages on npm as there are on bower, and a much more vibrant dev community. Unfortunately, that hasn't been very well reflected in the scaffolding tools space, which is one of the reasons `yo` could use a bit of competition. Yoeman's generators are starting to feel very outdated when you look at how modern JS ap

[2015-01-14 19:36] vivainio commented on #5
@ericelliott whoa, that's a long discussion. I didn't actually know you were trying to do exactly this.

Gulp is fine on windows, make and 'npm run' are a no-go there. You may be on to something on npm, the faster we move to it from bower the better. It just doesn't seem like this is the case just yet, maybe in few months (scene changes fast)

[2015-01-14 19:47] ericelliott commented on #5
@vivainio What do you feel that Bower does better than npm?

[2015-01-14 19:49] ericelliott commented on #5
This is potentially a very good point, primarily because too much dependence on Unix tooling can break cross platform compatibility.

[2015-01-14 19:53] vivainio commented on #5
We are only consuming bower modules, not releasing through it. It probably does nothing obviously better, it's just that the catalog of frontend modules is bigger (still today).

Still, reading this article made me think npm needs time to catch up on frontend: http://blog.npmjs.org/post/101775448305/npm-and-front-end-packaging

[2015-01-14 19:55] ericelliott commented on #2
@vivainio raised an interesting point in the [existing scaffolding tools thread](https://github.com/ericelliott/cloverfield/issues/5).

It's true that both `npm` run and `make` both encourage more reliance on the operating system, and a whole ecosystem of tooling that may or may not be available in a Windows environment, whereas you're more likely to rely on cross-platform JS implementations using

[2015-01-14 19:57] ericelliott commented on #5
That's not remotely true. Roughly 60% of npm is browserify compatible. That's significantly larger than the entire Bower registry. Significantly larger than all other JS registries combined, actually.

[2015-01-14 20:04] ericelliott commented on #5
@vivainio I think this point is worth your consideration:

The downloads of **less** are particularly telling, because that implies that those downloads are explicitly for front end dev that is not based on Bower.

In other words, LOTS of front end devs are using npm modules on the client side without Bower. I can personally attest that I've been doing it for years, often times alongside workflows

[2015-01-15 05:58] ericelliott commented on #2
Interesting. @isaaks (of npm / node fame) just posted a [makefile tutorial gist](https://gist.github.com/isaacs/62a2d1825d04437c6f08). Check it out!

[2015-01-15 06:37] vivainio commented on #2
@ericelliott ...and just the kind of example that won't work on Windows.

[2015-01-15 09:05] Cmdv commented on #2
Being new to the game, for me a good way to monitor/fish out errors in my code when I'm in development is very important so I can easily auto rebuild and possibly leave the file non minified so I can find where the issues are.

Nodemon is very handy but I'm sure there is other solutions out there but been a bit of a newby, I've not had the experience to play with them all.

[2015-01-15 09:29] ericelliott commented on #2
@Cmdv Check out the [npm implementation](https://github.com/ericelliott/todotasks/tree/master/implementations/npm) in the [todotasks repository](https://github.com/ericelliott/todotasks).

It watches files for changes and automatically lints, rebuilds, and reruns unit tests on file saves. The build produces sourcemaps so you can easily find the source of bugs with correct filenames and line number

[2015-01-16 10:47] Nevraeka commented on #3
Generator-element & generator-polymer

[2015-01-16 17:38] ericelliott commented on #3
:+1:

[2015-01-16 17:39] Nevraeka commented on #3
I haven't used them but there generators for x-tag & brick as well

[2015-01-16 18:44] ericelliott commented on #3
Yeah, generator-element supports x-tag and brick, I think. =)

[2015-01-16 18:45] Nevraeka commented on #3
Yes and those projects have their own as well

[2015-01-30 14:58] AWaselnuk commented on #5
The only one I've really tried is Yeoman. I found it provided a lot of boilerplate that served as good inspiration for how to do things. But inevitably I always ended up shaving away so much. I'm definitely in sync with you on that @ericelliott . I would love to see some smaller generators that are not so tied to a specific framework.

[2015-03-16 08:07] ericelliott opened #6 "What tech should we use?"
## ES 2015 (was ES6)

Since this is a next-gen tool, I think it makes sense to write it with next-gen JavaScript. We'll use ES6 + babel. To contribute, you'll want to make sure you're set up to compile ES6 on Node:

[code]

We'll use ESLint for our modern linting needs. =)

## Libs

* [Inquirer.js](https://github.com/SBoudrias/Inquirer.js) for interactive prompting
* [Isomorphic Fetch](https://git

[2015-03-19 17:19] emenoh commented on #6
I don't have any an opinion on libraries but here's my list of needs.

* Directory watch for changes to do stuff. Vanilla use case is reloading url, more complicated is compiling stuff and then reloading url... etc.
* CSS preprocessing/linting
* JS lint (you've got ESLint mentioned)
* Assuming ES6 it doesn't need a module loader/compiler but package manager and dependency manager is still useful
*

[2015-03-19 17:24] emenoh commented on #6
More
* Mobile gestures like Hammer.js
* Probably some kind of animation library like Greensock or Famo.us
* Probably some kind of DOM/Shadow DOM/Virtual DOM or at least an abstraction that will hook in to it, so something like a chained selector library e.g. Jqueryish

[2015-03-19 17:48] ericelliott commented on #6
Great checklist, thanks!

[2015-03-19 18:11] mattdesl commented on #6
My thoughts working with [many modules](npmjs.com/~mattdesl):

- node / npm / modularization are the biggest selling points of modern JS
- module creation/maintenance really could benefit from tooling and automation
- Gulp/Grunt is often overkill for many projects and modules. [Including them](https://github.com/yeoman/generator/blob/1d6db5afa26abf124c7fd8ad4c47a6d5fdc90c06/package.json#L51) in a

[2015-03-19 18:20] ericelliott commented on #3
[This iojs generator](https://github.com/joeybaker/generator-iojs) includes some good ideas.

[2015-03-19 18:44] mattdesl commented on #2
Something else worth considering, at least for the `npm` approach, is that there are a lot of tools that aim to reduce even the `npm scripts` boilerplate. Some tools I'm enjoying recently for frontend:

- [wzrd](https://github.com/maxogden/wzrd) for browserify + http-server
- [budo](https://github.com/mattdesl/budo) or [beefy](https://github.com/chrisdickinson/beefy) for watchify + http-server + L

[2015-03-19 20:53] ericelliott commented on #6
Yeah, I think the right approach is to offer both. If we have enough info to run a valid action, just run it without the options. If there are required fields missing, prompt for those required fields interactively. For every option available, make sure there's a CLI command to invoke them.

That way, if you forget the requirements for a command, you can just try to run it without, and you'll be r

[2015-03-19 21:13] ericelliott commented on #6
@mattdesl posted in the [task running thread](https://github.com/ericelliott/cloverfield/issues/2#issuecomment-83713892):

I like the idea of config-less style linting, but that "standard" is really promoting an alternative, semi-colon free style which is far from idiomatic, and lacks some of the checks I'd normally want to enforce, so while I love the idea of a standard config-free lint, that's n

[2015-03-19 21:15] ericelliott commented on #2
@mattdesl

I like the idea of mixing in wzrd or budo, assuming it's easy enough to integrate them into people's actual projects. They're a bit limited by default, but they're a great idea.

For the rest of my reply, see my comment in [the tech selection thread](https://github.com/ericelliott/cloverfield/issues/6#issuecomment-83761703).

[2015-03-19 21:41] philplckthun commented on #6
My ideas to what I'd like to see in a next-gen scaffolding generator:

* [Immutable.js](http://facebook.github.io/immutable-js/) (It's just SO good)
* [Jest](http://facebook.github.io/jest/) for Testing
* Optionally SASS (Preferably [Bourbon](http://bourbon.io/) instead of Compass)
* Gulp (Modularised gulpfile to keep it simple)
* React.js + Flux architecture (controversial, isn't it?)
* Browserif

[2015-03-19 22:07] joeybaker commented on #6
I'd shy away from forcing specific tech that doesn't have to do with "code standards". IMHO good tech to standardize on:

* linter
* test runners
* changelog generator
* release manager

FWIW, here's my current setup: https://github.com/joeybaker/generator-iojs

Notable things that I think are important for js projects:

* auto-creates a `package.json`
* auto-creates and keeps your `.npmignore` fi

[2015-03-20 00:49] ericelliott commented on #6
@joeybaker Awesome contribution, thank you!

[2015-03-20 00:54] joeybaker commented on #6
@ericelliott my pleasure! FWIW, I really like what my template gives me, I just dislike using yeoman. I'd be happy to help here if the goal is to have a `yeoman--` :)

[2015-03-20 01:02] ericelliott commented on #6
@philplckthun

We almost certainly will have generators for dealing with tests, styles, and compiling for cross-browser and Node isomorphic code from ES6.

We probably don't need a generator specifically for Immutable.js or Flux, but we're already hard at work on a [boilerplate for an isomorphic app](https://github.com/ericelliott/isomorphic-express-boilerplate) using Express and React.

It will n

[2015-04-10 19:29] ivanoats commented on #4
For me Mocha/Chai/Sinon are the tools that have stood the test of time in the JavaScript community. I don't have specific stats but it's probably 49% Jasmine 51% Mocha/Chai/Sinon that I see in various projects.

[2015-05-27 03:29] bengarnett commented on #6
Only addition i didn't see above is **proxying** (local dev pointed at mocks or external server)

[2015-06-01 22:12] ericelliott opened #7 "Establish scaffold conventions"
Scaffolds should follow some standard conventions.

## Naming

cf-<your-scaffold-name>

## Templates

Scaffolds should be boilerplate templates following the handlebars conventions.

## Ignore Template Files

Files that are not Cloverfield templates should be added to a `.cfignore` file.

## Task Running

The standard task runner for Cloverfield has not been established yet. If you have a strong o

[2015-06-01 22:14] ericelliott commented on #3
First things first:

I'm working on a [production module boilerplate](https://github.com/ericelliott/prod-module-boilerplate) loosely inspired by the [iojs generator](https://github.com/joeybaker/generator-iojs) above. It seems like this should be top priority, since it's likely to be used daily.

[2015-06-24 22:59] ericelliott commented on #2
Looks like we're going with npm scripts. Thanks for the lively discussions! =)

[2015-06-24 22:59] #2 closed

[2015-06-24 23:26] ericelliott commented on #7
@nkbt Now that the boilerplates are starting to shape up, are you interested in working on this?

[2015-06-25 03:02] nkbt commented on #7
By all means, always wanted to build one for myself =)

[2015-06-25 04:52] ericelliott opened #8 "Scaffold conventions doc"
See [meta issue](https://github.com/ericelliott/cloverfield/issues/7#issuecomment-115085766)

[2015-06-25 04:54] #8 closed

[2015-06-25 05:00] ericelliott opened #10 "Use prod module boilerplate"
Let's get some build process set up in here. Use the [prod-module-boilerplate](https://github.com/ericelliott/prod-module-boilerplate) for the cf repo.

See the [meta issue](https://github.com/ericelliott/cloverfield/issues/7)

[2015-06-25 05:08] ericelliott commented on #7
Great. I've created the [Scaffold conventions doc](https://github.com/ericelliott/cloverfield/blob/master/docs/scaffold-conventions.md). Feel free to take on the build tooling at your convenience.

[2015-06-25 05:15] ericelliott commented on #7
See [JSHomes Platform Meta issue](https://github.com/jshomes/JSHomes-Platform/issues/4)

[2015-07-02 11:50] nkbt commented on #10
I started investigation of this topic. So far the most popular scaffold generator is http://yeoman.io/authoring/

Pretty good example of a generator is https://github.com/keystonejs/generator-keystone

There are some things I don't like about it. EJS as a templating language and OOP nature of a generator.

If you are not concerned too much about using in-house code, couple of months ago I've writt

[2015-07-06 10:20] ericelliott opened #13 "Auto-scan for globally installed scaffolds"
Cloverfield should be able to detect any globally installed scaffolds.

@nkbt Could you accept your repo invite so that I can assign issues to you? =)

[2015-07-06 10:35] nkbt commented on #13
That should be possible.

[2015-07-06 10:38] nkbt opened #14 "Add tools for unit-testing"

[2015-07-06 10:46] nkbt commented on #13
Just to be clear we want to search for globally installed packages with `cf-` prefix? I'd suggest to also search for keyword `cloverfield-scaffold` or by combination of keywords `cloverfield` + `scaffold`.

[2015-07-07 00:47] ericelliott commented on #13
:+1:

[2015-07-07 00:49] ericelliott commented on #14
:+1:

[2015-07-07 05:42] #14 closed

[2015-07-07 07:04] ericelliott opened #17 "Auto-fetch missing packages."
:guitar: :fire:

[2015-07-07 07:18] nkbt commented on #17
That would be neat. Manipulating npm itself :smiling_imp:
I actually have an idea not to install them globally, but locally. With a very little update to the scaffolds-finder, so it can handle both global and local ones.

[2015-07-07 11:36] ericelliott commented on #17
Some ideas. Feel free to ignore if your are better.

Local install is a great idea so you'll consistently use the same version of the scaffold throughout.

But you should also cache globally, even if you install local.

Before you do anything, check local cache, global cache, then npm and record the following logic results as a list of tasks to perform.

If there is no global cache hit, install gl

[2015-07-07 11:38] ericelliott commented on #17
p.s. - local install always installs from global cache.

[2015-07-07 12:08] nkbt commented on #17
The issue with auto-install globally is that you may need root for that. Not everyone uses nvm. So I'd suggest not to write global deps at all. Taking scaffold from global dep is okay, writing local is okay, writing global is *not* okay.

Caching is something npm is taking care of, so we do not need to mess with it at all. Just run internal npm command to install dependency should be more then eno

[2015-07-07 12:55] troutowicz commented on #7
This is looking great so far. I will be a little busy the next couple days but I plan on helping out!

[2015-07-07 14:25] ericelliott commented on #17
OK.

[2015-07-07 14:35] ericelliott commented on #7
:+1:

[2015-07-07 17:52] lewiscowper commented on #6
I think an important tool to take into consideration is ![semantic-release](https://github.com/boennemann/semantic-release) by @boennemann.

[2015-07-08 14:08] ericelliott commented on #7
https://twitter.com/sethetter/status/618779021526970368

This is worth calling out. My primary problem with yeoman is the ecosystem signal to noise ratio. It got so bad, when I thought about scaffold solutions and realized we could probably just wrap yeoman, the idea of even having the project associated with yeoman mentally was bad enough it was worth starting from scratch.

So the question: how

[2015-07-09 03:17] therealklanni commented on #7
:+1:

[2015-07-13 23:00] #13 closed

[2015-08-01 02:05] #4 closed

[2015-08-01 02:06] #6 closed

[2015-08-01 02:07] ericelliott commented on #7
@nkbt It's been a while since we saw any activity here. Where are we on turning prod-module-boilerplate into a cf scaffold?

[2015-08-01 03:05] nkbt commented on #7
The base for cf package is merged now, so we can go further... It's been a
pretty busy time anyway :).

[2015-08-09 00:24] ericelliott opened #18 "Support global install"
This should work:

[code]

But here's what happens:

[code]

Want to fix this, @nkbt?

[2015-08-10 02:48] davegomez commented on #18
I just found that the npm command doesn't install all the cloverfield's files and dependencies, this is what I have in my global `lib/node_modules` directory:

     9 21:08 ..
     4  2015 LICENSE
     4  2015 README.md
     9 21:08 package.json

Maybe this is the reason why the npm command is not creating the link inside the `bin` directory.

[2015-08-10 04:26] mattludwigs commented on #18
I found that when I ran:

[code]

No files were downloaded, but I did get the symbolic link output like normal.

However, if I run:

[code]

Cloverfield is installed properly, and both cf and cloverfield are executable. However, I get error messages from the index.js file. I am using nvm, so I do not know if that is an issue.

[2015-08-10 05:42] nkbt commented on #18
We have most of things ignored before publishing to npm. Also I don't think we published to npm recently (will check it).

I am going to fix this today later.

[2015-08-10 11:35] nkbt commented on #18
As I expected it is simply not published to npm. I created #20 with `.npmignore` and #19 to update to the most recent dependencies. After thy are in we can publish new version to the npm.

[2015-08-10 19:54] ericelliott opened #22 "CI integration"
Integrate Travis and/or CircleCI badges.

@nkbt?

[2015-08-10 19:59] ericelliott commented on #18
Thanks @nkbt

It's a good start, but we need to build the bin file that gets symlinked with Babel for Node support:

[code]

[2015-08-10 20:11] ericelliott opened #23 "Contributing Guide"
We need to apply the contributing guide from [prod-module-boilerplate](https://github.com/cloverfield-tools/prod-module-boilerplate/blob/master/docs/contributing/index.md) to this repo. Be sure to change the repository name in the guide.

[2015-08-10 21:22] nkbt commented on #22
Sure!

[2015-08-10 21:28] nkbt commented on #18
Hm, I used babel-node as interpreter here so it should work. At least it
worked on the other project of mine. I'll check more. If it still won't
work, will do it on the code level

[2015-08-10 22:44] davegomez commented on #18
babel-node is not need it anymore if we are using ESLint ^1.0.0, we could safely use the native ESLint parser since this new version has full support for ES6

[2015-08-10 22:46] davegomez commented on #23
I can do this if you guys are ok with it.

[2015-08-11 00:46] davegomez opened #25 "Add .editorconfig"
Add .editorconfig file

[2015-08-11 01:43] davegomez opened #27 "babel-core dependency not installed"
The `babel-core` peer dependency needed by `babel-plugin-object-assign` won't be automatically installed anymore by npm.

For newer versions of nom this dependency must be included explicitly in the `package.json` file.

    npm WARN peerDependencies The peer dependency babel-core@>=5.6.0 included from babel-plugin-object-assign will no
    npm WARN peerDependencies longer be automatically install

[2015-08-11 01:52] nkbt commented on #18
@davegomez babel-node and babel-eslint are completely different things. And I am pretty sure eslint 1.0 still does not support object spread like:
[code]

[2015-08-11 01:56] nkbt commented on #27
This is not an issue, it is a feature of new npm. Developer should decide which version to install, not the lib maintainer. PeerDependency becomes "consultative" rather then mandatory.

By the way `babel-plugin-object-assign` can be removed and `Object.assign` can be replaced with object spread, see https://twitter.com/nkbtnk/status/629475691067641856

I am closing this issue. Feel free to reopen

[2015-08-11 01:56] #27 closed

[2015-08-11 01:57] nkbt commented on #23
@davegomez, thanks!

[2015-08-11 02:34] davegomez commented on #25
I made a mistake with my features branches and mixed them up, now it should be ok both PRs.

[2015-08-11 03:35] #23 closed

[2015-08-11 03:36] #25 closed

[2015-08-11 08:21] ThomasCrvsr commented on #18
+1 @nkbt Just tested eslint 1.1.0 and object spread is not supported (cf https://github.com/eslint/eslint/issues/3271).

I don't know babel-node, but should the transpilation be done in the CI part ? Thus, the published package would be ES5.

[2015-08-11 11:02] nkbt commented on #18
We use babel-node to avoid transpilation step before publishing. Babel-node
does it in-memory.

--
Sincerely yours, Nikita Butenko
Google Talk: nik@butenko.me
Skype: nikita.butenko
Mobile: +61 450 264 801

On 11 August 2015 at 18:21, ThomasCrvsr <notifications@github.com> wrote:

[2015-08-11 13:05] nkbt commented on #10
This could be closed in favor of https://github.com/cloverfield-tools/cf-package/issues/2

[2015-08-13 03:32] ericelliott commented on #22
:+1:

[2015-08-13 03:32] #22 closed

[2015-08-13 03:32] ericelliott commented on #18
Published as 0.3.0

<img width="1020" alt="screen shot 2015-08-12 at 9 31 17 pm" src="https://cloud.githubusercontent.com/assets/364727/9242092/a2cab6a2-4139-11e5-85a2-bf68dd553831.png">

[2015-08-13 03:32] #18 closed

[2015-08-13 03:36] #10 closed

[2015-08-13 17:59] davegomez commented on #1
I think we should use Facebook Flow so we can use plain JavaScript, and maybe TypeScript as a second option for those who likes the language.

[2015-08-13 23:23] nkbt commented on #1
+1 for Flow. It has some issues with ES6 support though. There might be the way to transform first before flow does it's checks.

https://babeljs.io/docs/advanced/transformers/other/flow/

[2015-08-13 23:24] nkbt commented on #1
Considering Sebastian is now working for Facebook, we should probably see some awesome Flow support soon.

[2015-08-15 01:25] ericelliott opened #32 "Composable scaffolds"
One of the primary reasons that Yoeman generators suck is that they include a ton of crap that most projects simply don't need.

It would be cool if ours was a bit different.

For instance, it would be really cool if our [app package](https://github.com/cloverfield-tools/universal-react-boilerplate) was modular enough that it would default to a recommended stack like react + redux, but also be cap

[2015-08-15 01:28] ericelliott commented on #17
Is this done?

[2015-08-15 01:29] ericelliott commented on #2
Hey everybody... I'd love your input on [composable scaffolds](https://github.com/cloverfield-tools/cloverfield/issues/32). =)

[2015-08-15 02:15] therealklanni commented on #32
What do you imagine the command would look like for this to be possible?

[code]

?

[2015-08-15 02:25] therealklanni commented on #17
What about having a `~/.cf.config.json` where you can specify custom "stacks", similar to `package.json`'s dependencies?

This also brings up the question if CF should respect semver. I only mention this because there was some mention here about auto-updating (in addition to auto-fetch).

Sample `~/.cf.config.json` (or `~/.cf.json`?). Package names and semvers here are made-up.

[code]

Just think

[2015-08-15 05:28] davegomez commented on #32
@therealklanni using that way everything would be like a Cloverfield package/plugin instead of boilerplates or generators created by user/contributors like Yeoman, right?

[2015-08-15 05:32] davegomez commented on #32
I think both ways proposed by @therealklanni could work.

Using  the CLI or with some config file that we could install with a simple `cf install` command.

[2015-08-15 07:45] ericelliott commented on #32
Yes. That's exactly what I had in mind.

[2015-08-15 13:04] nkbt commented on #32
This could work `out of box` if all pieces are build with the same API in mind. On the other hand I do not clearly see how we can easily remove/add, for example, routing to the project. Though it is probably possible to make 2-3 modules with different routers, and choose one of them.

Similar to flux implementation. You could choose to use either vanilla flux, or redux, or fluxxor, or any one of 1

[2015-08-15 13:05] nkbt commented on #32
Ping @JedWatson

[2015-08-15 13:10] nkbt opened #33 "Search for packages locally"
At the moment Cloverfield searches for globally installed packages. We need to search for locally installed as well.

[2015-08-15 13:13] nkbt commented on #17
@ericelliott, no it is not done yet, still in todo. It is blocked by `Search for packages locally #33` (just created). When it is completed, we can then quite easily auto-install packages to the local `npm_modules` dir and pick them from there to proceed with generation.

@therealklanni I would prefer no to add any additional configs. Any configuration adds complexity and conventions. Very often -

[2015-08-18 02:29] ericelliott commented on #17
Great. =)

[2015-08-18 02:29] ericelliott commented on #33
:+1:

[2015-08-25 09:38] halhenke commented on #32
Not sure if its quite the same idea you have in mind but i briefly flirted with brunch and one of the things I thought was kind of neat was the way they have a bunch of mini-generators with dependencies on other mini-generators - see here for an example:

https://github.com/exlee/brunch-on-asteroids/tree/master/generators

[2015-08-25 09:58] ericelliott commented on #32
Interesting. Thanks for the link. =)

[2015-08-25 13:12] nkbt commented on #33
After some code written and some additional thoughts, I believe for `cloverfield` we should stick to locally installed modules exclusively. And if necessary install missing scaffolds on-demand [#17].

Technically it would simplify the code a little bit - I would be able to do simple `require(package.name)` and then run it. Without any additional parsing of `package.json`.

But what is more importa

[2015-08-25 13:29] nkbt commented on #33
See #34. It works fine for now, but I would think about removing `findGlobal` (not 100% sure on that though)

[2015-08-27 14:27] davegomez commented on #32
Is there any scaffold already made to use it as an example to create another ones?

[2015-08-27 15:12] ericelliott commented on #32
https://github.com/cloverfield-tools/cf-package

[2015-09-01 23:29] ericelliott commented on #33
:+1:

[2015-09-01 23:29] #33 closed

[2015-09-01 23:43] nkbt commented on #17
As soon as #33 is not there, I'm going to close this one soon.

[2015-09-02 01:38] ericelliott commented on #17
We can close this now, right?

[2015-09-02 01:38] nkbt commented on #17
No, I haven't done it yet :)

[2015-09-02 01:39] #5 closed

[2015-09-02 01:40] ericelliott commented on #17
Oh. =)

[2015-09-22 02:55] Hypercubed commented on #32
I want to say that I think this is an excellent (and ambitious) project.  I will keep my eyes open for ways I can contribute.

Something I found troubling about yeoman is that after I find a generator that looks close to what I want I scaffold a project then customize (update dependencies, change some file structure, swap jshint for eslint, etc).   Next time I start a similar project I either need

[2015-09-23 13:24] halhenke commented on #32
Been having some thoughts about this today - specifically the idea of an ecosystem of small/composable/modular micro-generators which may have dependencies on one another. At any rate want to get it straight in my head and then would like to get @nkbt's feedback/thoughts. Not sure if what i'm imagining is feasible/worthwhile or if it would fit Cloverfield - ideally it would be as simple and flexib

[2015-09-23 22:21] nkbt commented on #32
@halhenke for generator itself you should definitely look at cf-package. I am pretty sure it is simple enough to be taken as a base for others. Most of its code could be abstracted to a lean core, leaving only `template` and props file for a package itself.

First step to approach composable generators is https://github.com/cloverfield-tools/cf-package/issues/23

I doubt all packages could be comp

[2015-09-23 23:35] ericelliott commented on #32
:+1:

[2015-09-24 01:44] halhenke commented on #32
@nkbt Yeah I can definitely see that cf-package fits the Cloverfield goals. I guess what I am envisioning is something a bit different - as I understand it Cloverfield is primarily focussed on curation as a way of dealing with the "random crap"/discovery problem of Yeoman. I guess I'm thinking of something more low level that honestly might not be useful to Yeoman - or useful at all - (at this poi

[2015-09-24 17:26] ericelliott commented on #32
@halhenke I definitely want to modularize most of the pieces in cf-package. For instance, maybe you're working with an existing repo and you just want to add tape tests, it would be cool if you could just `cf-install tape` and get tape installed, a test dir added with a sample test, and a test script replaced in `package.json`.

There is definitely value in having some granular scaffolds for Clove

[2015-09-26 04:54] nkbt commented on #32
https://github.com/amwmedia/plop looks nice, worth checking

[2015-09-26 20:24] ericelliott commented on #32
Yeah, plop looks like a great base. Not a replacement for cf (I don't think it lets you add keys to an existing package.json, does it?) but it seems like we could replace a bunch of the code in `cf-package` with plop.

What do you think, @nkbt?

[2015-09-27 00:27] nkbt commented on #32
@ericelliott yes, that is exactly what I was thinking about. Did't find it before, otherwise would have used it. Pretty much ticks all the boxes.

But needs to be tried first, since there could be some design decision made not 100% compatible with cf.

[2015-09-27 00:38] nkbt commented on #32
PS: just in case, I have no personal attachment to the code and if some 3rd party tool is more appropriate - happy to scrap it.

[2015-09-27 01:07] ericelliott commented on #32
@nkbt If you'd like to take a crack at reimplementing `cf-package` with plop, I think that would be a great first step in the exploration. Up for it?

[2015-09-27 07:49] halhenke commented on #32
@ericelliott @nkbt Plop looks very interersting - definitely a different approach then I had envisaged. Hadn't thought of modifying files as well as generating them for example.

At any rate as I was thinking more about it I decided it might be useful to try and use React itself as a tool to declare/compose scaffolds. Seems like it has a few built-in properties that would really help (re-using com

[2015-09-27 09:55] nkbt commented on #32
@ericelliott I'll give it a try then.

@halhenke  Though using React/JSX as a composition tool looks really appealing to me, I must say it adds additional complexity to the end-user. I'd try plop (to be honest it actually does "composition" in a way I imagined it for myself) and see how it goes.

[2015-09-27 13:26] halhenke commented on #32
@nkbt Fair enough - I definitely don't want it to be a "gimmick" or something that makes things more complex rather than simpler or more powerful. And I haven't really made up my own mind yet how useful its going to be or if there are some sticking points that might make it fundamentally unsuited to the task. Will play around a bit more and if it seems to have merit will throw up a repo - might no

[2015-09-27 13:39] nkbt commented on #32
:+1:

[2015-10-01 16:45] gaboesquivel opened #35 "What are your thoughts on JS Standard ?"
I think Feross has [made a point on javascript standards](http://standardjs.com/)
The philosophy behind it perfectly aligns with cloverfields.
_"No decisions to make. No .eslintrc, .jshintrc, or .jscsrc files to manage. It just works."_
NPM uses it [npm/package.json#L187](https://github.com/npm/npm/blob/master/package.json#L187)

[2015-10-01 16:56] ericelliott commented on #35
No. For one thing, it's not an idiomatic standard. It's pretty comical to call it "standard style" and then adopt unpopular rules like "no semicolons". I like semicolon-free style, but I'd prefer to embrace idiomatic style and avoid the arguments.

For another thing, we're using ES6 rules that are not included in "standard style".

[2015-10-01 16:56] #35 closed, assigned to nobody

[2015-10-01 22:18] nkbt commented on #35
@gaboesquivel its feature is a misleading name, it is way too far from "standard".  "Standard" is just another opinionated toolset with good marketing. Check out this discussion.

https://github.com/feross/standard/issues/78#issuecomment-85660078

airbnb/javascript is the one you could call mostly reasonable "standard" instead ;)

It is not a matter of personal preference it is a matter of best pr

[2015-10-01 23:02] ericelliott commented on #35
:clap:

[2015-10-03 00:15] ericelliott commented on #32
Any progress on this, yet?

I'd love to be able to install isolated bits of functionality, such as tape tests, eslint, etc... individually as needed.

[2016-02-07 22:08] lcrespom commented on #3
Would be great to have optional support for TypeScript in the package boilerplate.

@ericelliott I know you are not a fan of TS but from my experience it has greatly increased my productivity (auto-complete, instant in-editor errors, etc.).

[2016-02-08 01:27] ericelliott commented on #3
@lcrespom Sounds like a great idea as a [composable scaffold](https://github.com/cloverfield-tools/cloverfield/issues/32). I haven't seen any developments on that since last September. It needs a champion. Want to be the champion? =)

[2016-02-08 07:53] lcrespom commented on #3
I took a look at the composable scaffold issue/request... maybe it is too high level for me to do it on my free time and on small task bursts... actually I am not even a user (yet?) of Cloverfield.

I will investigate further and try to help...

[2016-04-05 17:30] jesselee34 commented on #32
I've been reading through these threads and I'm thinking I might be able to take a crack at this.  This would be the first time I've taken code from another project to use as a base.  @ericelliott can you provide some pointers on the correct etiquette?  Would a fork of plop be appropriate, or would I just make a copy of the source into a new repo?

[2016-04-13 21:44] ericelliott commented on #32
I would think you may be able to do this using plop as a dependency. I haven't looked into it very deeply, though.